td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
    background-color: lightgray;
}

input {
    text-align: right;
    background-color: rgb(141, 241, 141);
    font-size: 18px;
}

button {
    background: unset;
    border: unset;
    padding: 5px;
}

div {
    margin: 10px 30%;
    padding: 20px;
}

.numeros {
    background-color: rgb(172, 172, 172);
}

#ponto {
    background-color: lightgray;
}

td:hover, #ponto:hover {
    background-color: rgb(158, 158, 158);
}