.card-body {
    justify-content: space-between;
    flex-wrap:wrap;
    row-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 0px 20px;
}

#card-box, #card-box2{
    margin: auto;
}

#imagem {
    border-radius: 5px;
}

#fundo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 991px){
    .caixa_filme{
        flex-direction: column;
    }
}
