p {
    font-size: 18px;
}

#letras, #erradas {
    font-size: 35px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.div{
    background-color: white;
    margin: auto 30%;
}

body {
    background-color: lightgray;
}

#botao {
    margin: 10px;
    padding: 5px 10px;
}
